*{
    margin: 0;
    background-color: rgb(177, 159, 137);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}
.header{
    display: flex;
    width: 500px;
    flex-direction: column;
    height: 80px;
}
.scoreContainer{
    font-size: 25px;
    background: rgb(0, 255, 0);
    text-align: center;
    padding: 1px;
    border-radius: 20px;
    font-weight: bold;
    /* margin: auto 5px; */
    display: flex;
    justify-content: center;
}
.score{
    background: rgb(0, 255, 0);
    font-weight: bold;
}
.gameBoard{
    background: linear-gradient(orange, rgb(207, 207, 48));
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    grid-template-rows: repeat(16, minmax(0, 1fr));
    height: 80vmin;
    width: 80vmin;
}
.snake{
    background-color: green;
    border: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}

.head{
    background: url(snake.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}

.apple{
    background: url(apple.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.buttonsContainer{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;

}

.play{
    width: 140px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: large;
    background-color: rgb(68, 0, 255);
}
.play:hover{
    background-color: rgb(46, 0, 173);
}
.musicOnBtn, .musicOffBtn{
    width: 140px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: large;
    background-color: rgb(68, 0, 255);
}
.musicOnBtn:hover{
    background-color: rgb(46, 0, 173);
}
.musicOffBtn:hover{
    background-color: rgb(46, 0, 173);
}

.gameover{
    display: none;
    position: fixed;
}
.gameover img{
    width: 40vw;
}

.imgControls{
    display: none;
  }

  @media only screen and (max-width: 1024px){
    .container {
      height: 40vh;
    }
    .imgControls{
      display: block;
      width: 500px;
      justify-content: center;
      margin: auto;
    }
    .upControls{
      display: flex;
      justify-content: center;
    }
    .upControls img{
      width: 100px;
      margin: 10px;
    }
    .downControls{
      width: 500px;
      display: flex;
      justify-content: center;
    }
    .downControls img{
      width: 100px;
      margin: 10px;
      display: flex;
      justify-content: center;
    }
  }